p {
  font-size: 14px;
  font-family: '-apple-system',
    'BlinkMacSystemFont',
    '"Segoe UI"',
    'Roboto',
    '"Helvetica Neue"',
    'Arial',
    'sans-serif',
    '"Apple Color Emoji"',
    '"Segoe UI Emoji"',
    '"Segoe UI Symbol"';
}

.ag-cell[role="gridcell"] {
  padding: 0 2px;
  line-height: 20px;
}

.ag-theme-material .ag-cell-inline-editing {
  height: 36px;
}

#validation-grid  .ag-cell[role="gridcell"] {
  border-right: 1px solid #ccc;
}

.ag-header-cell[role="columnheader"] {
  padding: 0 6px;
  border-left: 0px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#validation-grid .ag-row[role="row"] {
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}

#validation-grid .ag-row-last[role="row"] {
  border-bottom: 2px solid #eee;
}

#validation-grid .ag-header-row[role="row"] {
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}

#validation-grid .ag-tool-panel-wrapper {
  width: 350px;
}

#validation-grid .ag-tool-panel-wrapper > .ag-react-container {
  width: 100%;
  border-left: 2px solid #ccc;
}


